# Data Science Tools and Ecosystem 

In this notebook, Data Science Tools and Ecosystem are summarized

# Objectives:
- List of Popular Languages that Data Scientist Use
- Table enlisting Data Science Tools
- Enlisting some arthmetic operations used in Python
- A program for calculating following expression: (3*4)+5
- A program to convert 200 minutes to hours

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## Some Data Science Libraries:

 1. NumPy
 2. Pandas
 3. Seaborn

|Data Science Tools|
|------------------|
|Jupyter Nootebook |
|Apache Spark      |
|RStudio           |

### Below are a few examples of evaluating arithmetic expressions in Python

Addition: +
Subtraction: -
Multiplication: *
Division: /

In [5]:
print((3*4)+5)
#This a simple arithmetic expression to mutiply then add integers

17

In [6]:
print("200 Minutes in hours: ", 200/60)
#This will convert 200 minutes to hours by diving by 60

200 Minutes in hours:  3.3333333333333335

## Author
Vinay Sathish